/*------------------------------------*\
    #THEMES
\*------------------------------------*/

/**
  * Themes apply a set of color styles to an area
  */

/**
  * Background colors
  */

.dp-theme-bg-white-1 {
  background-color: $color-background-white-1;
}

.dp-theme-bg-gray-1 {
  background-color: $color-background-gray-1;
}

.dp-theme-bg-black-1 {
  background-color: $color-background-black-1;
}
