/*------------------------------------*\
    #BOX
\*------------------------------------*/

/**
  *  Tile
  */

$color-tile-bg: $color-background-white-1;
$color-tile-box-shadow: 0 2px 8px 0 rgba($color-box-shadow-black-1, 0.2);
$color-tile-box-shadow-hover: 0 6px 16px 0 rgba($color-box-shadow-black-1, 0.12);
$color-tile-border-selected: $color-border-green-1;
$color-tile-outline-border: $color-border-gray-3;
$color-tile-outline-border-hover: $color-border-gray-4;
$color-tile-outline-border-selected-hover: $color-border-green-2;

/**
  * Themes
  */

$themes-dp-tile: (
  dark: (
    color-tile-bg: $color-background-white-1,
    color-tile-box-shadow: 0 2px 8px 0 rgba($color-box-shadow-black-1, 0.4),
    color-tile-box-shadow-hover: 0 6px 16px 0 rgba($color-box-shadow-black-1, 0.8),
    color-tile-border-selected: $color-border-black-1,
    color-tile-outline-border: $color-border-black-1,
    color-tile-outline-border-hover: $color-border-black-1,
    color-tile-outline-border-selected-hover: rgba($color-box-shadow-black-1, 0.4),
  )
);
