@import "~assets/css/settings/style";
@import "~assets/css/settings/themes/elements/radio";
/**
** dp-field__radio normal style */

.dp-field__radio {
  position: relative;
  font-size: $font-size-16;
  padding-bottom: px-to-em(17px, 16px);
  padding-left: px-to-em(24px, 16px);
  text-align: left;
  line-height: px-to-rate(19px, 16px);

  input[type="radio"] {
    opacity: 0;
    position: absolute;
  }

  label {
    color: $color-radio-label;

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: px-to-em(16px, 16px);
      height: px-to-em(16px, 16px);
      left: 0;
      top: px-to-em(2px, 16px);
      border: px-to-rem(1px) solid $color-radio-label-border;
      border-radius: 50%;
    }
  }

  input[type="radio"]:checked {
    +label {
      &:after {
        content: "";
        width: px-to-em(10px, 16px);
        height: px-to-em(10px, 16px);
        position: absolute;
        top: px-to-em(5px, 16px);
        left: px-to-em(3px, 16px);
        background-color: $color-radio-checked-bg;
        border-radius: 50%;
      }
    }
  }

  input[disabled="disabled"] {
    +label {
      color: $color-radio-label-disabled;
      cursor: not-allowed;

      &:before {
        border-color: $color-radio-label-border-disabled;
      }
    }

    &:checked+label {
      &:after {
        background-color: $color-radio-checked-bg-disabled;
      }
    }
  }

  &.error {
    .dp-field__invalid {
      display: block;
    }
  }

  /* Support a variety of styles */
  @include themify($themes) {
    label {
      color: themed("color-radio-label");

      &:before {
        border-color: themed("color-radio-label-border");
      }
    }

    input[type="radio"]:checked {
      +label {
        &:after {
          background-color: themed("color-radio-checked-bg");
        }
      }
    }

    input[disabled="disabled"] {
      +label {
        color: themed("color-radio-label-disabled");

        &:before {
          border-color: themed("color-radio-label-border-disabled");
        }
      }

      &:checked+label {
        &:after {
          background-color: themed("color-radio-checked-bg-disabled");
        }
      }
    }
  }
}

/**
** dp-field__radio Smaller size */

.dp-field__radio--small {
  @extend .dp-field__radio;
  font-size: $font-size-12;

  // line-height: px-to-rate(15px,12px);
  // padding-left: px-to-rem(20px);
  // label {
  //   &:before {
  //     width: px-to-rem(12px);
  //     height: px-to-rem(12px);
  //   }
  // }
  input[type="radio"]:checked+label {
    &:after {
      width: px-to-em(6px, 12px);
      height: px-to-em(6px, 12px);
      top: px-to-em(4px, 12px);
      left: px-to-em(3px, 12px);
    }
  }
}

/**
** radio error msg **/
.dp-field__radio,
.dp-field__radio-group {
  font-family: $font-family-primary;

  .dp-field__invalid {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $color-radio-invalid;
    font-size: $font-size-12;
    line-height: px-to-rate(15px, 12px);
    text-align: left;
    white-space: nowrap;
  }

  /* Support a variety of styles */
  @include themify($themes) {
    .gb-field__invalid {
      color: themed("color-radio-invalid");
    }
  }
}

/**
** dp-field__radio-group */

.dp-field__radio-group {
  position: relative;
  padding-bottom: px-to-rem(7px);

  .dp-field__radio {
    padding-bottom: 0;
    margin-bottom: px-to-rem(12px);
  }

  // .dp-field__radio--small {
  //   margin-bottom: px-to-rem(8px);
  // }
  &.error {
    .dp-field__radio {
      .dp-field__invalid {
        // this can remove when the error msg put in group level
        display: none;
      }
    }

    .dp-field__invalid {
      display: block;
    }
  }
}
