/*------------------------------------*\
    #VISIBILITY
\*------------------------------------*/

/**
  * Visibilty
  */

@mixin responsive-visibility() {
  display: block !important;

  &table {
    display: table !important;
  }

  &tr {
    display: table-row !important;
  }

  &th,
  &td {
    display: table-cell !important;
  }
}

/**
  * Invisibilty
  */

@mixin responsive-invisibility() {
  display: none !important;
}
