@import "../../../settings/style";
/**
  * Megamenu
  */

$margin-top-megamenu-link: 20px;
$margin-top-megamenu-article: 12px;
$margin-right-megamenu-article-img: 20px;
$padding-bottom-megamenu-title: 8px;
$padding-x-megamenu-label: 20px;
$border-radius-megamenu-image: 2px;
$width-megamenu-image: 120px;
$height-megamenu-image: 120px;

/**
  * Themes
  */
