@import "../../../settings/style";
/**
  * Message
  */

$font-size-message: 14px;
$font-size-message-icon: 17px;
$font-size-message-button: 12px;
$font-family-message: $font-family-secondary;
$color-message--bg-yellow: $color-background-orange-3;
$color-message--text-yellow: $color-text-orange-5;
$color-message--bg-green: $color-background-green-3;
$color-message--text-green: $color-text-green-2;

$padding-message: 12px;
$padding-message-lg-th: 6px;
