@import "../../../settings/style";
/**
  * Rating
  */

$line-height-label:19px;
$padding-top-rating: 2px;

/**
  * Themes
  */

$themes-dp-rating: (
  th: (
    line-height-label: px-to-rate(19px, 20px),
    padding-top-rating: 0
  )
);
