/**
  * Footer
  */

$color-footer-white-faded: rgba($color-text-white-1, 0.1);
$padding-y-footer: $spacing-40;
$padding-x-footer: $spacing-24;
$background-color-footer: $color-background-black-3;

$margin-bottom-footer-dp-title: 16px;
$margin-bottom-footer-dp-links: 16px;

$margin-bottom-footer-social: 13px;
$margin-left-footer-social-links: 12px;

$border-radius-footer-social-icons: $border-radius-base;
$width-footer-social-icons: 20px;
$height-footer-social-icons: 20px;
$font-size-footer-social-icons: $font-size-14;
$color-footer-social-icons: $color-background-black-3;
$background-color-footer-social-icons: $color-background-white-1;

$margin-x-footer-country-links-xs: 4px;
$margin-x-footer-country-links-sm: 6px;
$height-footer-country: 16px;

$margin-y-footer-copyright: $spacing-24;
$color-footer-copyright-text: rgba($color-text-white-1, 0.6);

$padding-top-footer-policy: 12px;

$margin-top-footer-policy: 8px;
$margin-right-footer-policy-links: 8px;
$padding-right-footer-policy-links: 8px;
$height-footer-policy-links: 8px;

/**
  * Themes
  */

// $themes-dp-footer: ();
